<h1>Listing Data File Uploads</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>File</th>
      <th>Note</th>
      <th>Processed At</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_file_uploads.each do |data_file_upload| %>
      <%= render "row", data_file_upload: data_file_upload %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data file upload', new_data_file_upload_path %>
