<h1>Listing items</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Desc</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <%= render "row", item: item %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
